<header class="header">
  <div class="container">
    <div class="header-components">
      <h2 class="header-logo">Focus.Frame</h2>
      <div class="header-camera-bg">
        <svg class="camera">
          <use xlink:href="../img/header/header.svg#camera"></use>
        </svg>
      </div>
      <svg class="hamburger">
        <use xlink:href="../img/header/header.svg#hamburger"></use>
      </svg>
    </div>
  </div>
  <section class="hero">
    <div class="container">
      <h2>HERO SECTION</h2>
    </div>
  </section>
</header>
